In [42]:
import pandas as pd

In [43]:
airdt = pd.read_csv('AB_NYC_2019.csv')

In [44]:
airdt.head()
airdt.fillna('NaN')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.1,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.4,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.5,1,39
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.2,1,46
16,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,2019-06-28,1.72,1,321
17,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
18,7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,2019-06-22,4.44,1,21
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249
20,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,0
21,8024,CBG CtyBGd HelpsHaiti rm#1:1-4,22486,Lisel,Brooklyn,Park Slope,40.68069,-73.97706,Private room,130,2,130,2019-07-01,1.09,6,347
22,8025,CBG Helps Haiti Room#2.5,22486,Lisel,Brooklyn,Park Slope,40.67989,-73.97798,Private room,80,1,39,2019-01-01,0.37,6,364
23,8110,CBG Helps Haiti Rm #2,22486,Lisel,Brooklyn,Park Slope,40.68001,-73.97865,Private room,110,2,71,2019-07-02,0.61,6,304
24,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,88,2019-06-19,0.73,2,233
25,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,60,1,19,2019-06-23,1.37,2,85
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
27,9357,Midtown Pied-a-terre,30193,Tommi,Manhattan,Hell's Kitchen,40.76715,-73.98533,Entire home/apt,150,10,58,2017-08-13,0.49,1,75
28,9518,"SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM",31374,Shon,Manhattan,Inwood,40.86482,-73.92106,Private room,44,3,108,2019-06-15,1.11,3,311
29,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,180,14,29,2019-04-19,0.24,1,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48865,36472171,1 bedroom in sunlit apartment,99144947,Brenda,Manhattan,Inwood,40.86845,-73.92449,Private room,80,1,0,NaN,NaN,1,79
48866,36472710,CozyHideAway Suite,274225617,Alberth,Queens,Briarwood,40.70786,-73.81448,Entire home/apt,58,1,0,NaN,NaN,1,159
48867,36473044,The place you were dreaming for.(only for guys),261338177,Diana,Brooklyn,Gravesend,40.59080,-73.97116,Shared room,25,1,0,NaN,NaN,6,338
48868,36473253,Heaven for you(only for guy),261338177,Diana,Brooklyn,Gravesend,40.59118,-73.97119,Shared room,25,7,0,NaN,NaN,6,365
48869,36474023,"Cozy, Sunny Brooklyn Escape",1550580,Julia,Brooklyn,Bedford-Stuyvesant,40.68759,-73.95705,Private room,45,4,0,NaN,NaN,1,7
48870,36474911,"Cozy, clean Williamsburg 1- bedroom apartment",1273444,Tanja,Brooklyn,Williamsburg,40.71197,-73.94946,Entire home/apt,99,4,0,NaN,NaN,1,22
48871,36475746,A LARGE ROOM - 1 MONTH MINIMUM - WASHER&DRYER,144008701,Ozzy Ciao,Manhattan,Harlem,40.82233,-73.94687,Private room,35,29,0,NaN,NaN,2,31
48872,36476675,Nycity-MyHome,8636072,Ben,Manhattan,Hell's Kitchen,40.76236,-73.99255,Entire home/apt,260,3,0,NaN,NaN,1,9
48873,36477307,Brooklyn paradise,241945355,Clement & Rose,Brooklyn,Flatlands,40.63116,-73.92616,Entire home/apt,170,1,0,NaN,NaN,2,363
48874,36477588,Short Term Rental in East Harlem,214535893,Jeffrey,Manhattan,East Harlem,40.79760,-73.93947,Private room,50,7,0,NaN,NaN,1,22
48875,36478343,Welcome all as family,274273284,Anastasia,Manhattan,East Harlem,40.78749,-73.94749,Private room,140,1,0,NaN,NaN,1,180
48876,36478357,"Cozy, Air-Conditioned Private Bedroom in Harlem",177932088,Joseph,Manhattan,Harlem,40.80953,-73.95410,Private room,60,1,0,NaN,NaN,1,26
48877,36479230,Studio sized room with beautiful light,65767720,Melanie,Brooklyn,Bushwick,40.70418,-73.91471,Private room,42,7,0,NaN,NaN,1,16
48878,36479723,Room for rest,41326856,Jeerathinan,Queens,Elmhurst,40.74477,-73.87727,Private room,45,1,0,NaN,NaN,5,172
48879,36480292,Gorgeous 1.5 Bdr with a private yard- Williams...,540335,Lee,Brooklyn,Williamsburg,40.71728,-73.94394,Entire home/apt,120,20,0,NaN,NaN,1,22
48880,36481315,The Raccoon Artist Studio in Williamsburg New ...,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,120,1,0,NaN,NaN,3,365
48881,36481615,"Peaceful space in Greenpoint, BK",274298453,Adrien,Brooklyn,Greenpoint,40.72585,-73.94001,Private room,54,6,0,NaN,NaN,1,15
48882,36482231,Bushwick _ Myrtle-Wyckoff,66058896,Luisa,Brooklyn,Bushwick,40.69652,-73.91079,Private room,40,20,0,NaN,NaN,1,31
48883,36482416,Sunny Bedroom NYC! Walking to Central Park!!,131529729,Kendall,Manhattan,East Harlem,40.79755,-73.93614,Private room,75,2,0,NaN,NaN,2,364
48884,36482783,Brooklyn Oasis in the heart of Williamsburg,274307600,Jonathan,Brooklyn,Williamsburg,40.71790,-73.96238,Private room,190,7,0,NaN,NaN,1,341
48885,36482809,Stunning Bedroom NYC! Walking to Central Park!!,131529729,Kendall,Manhattan,East Harlem,40.79633,-73.93605,Private room,75,2,0,NaN,NaN,2,353
48886,36483010,Comfy 1 Bedroom in Midtown East,274311461,Scott,Manhattan,Midtown,40.75561,-73.96723,Entire home/apt,200,6,0,NaN,NaN,1,176
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,NaN,NaN,3,365
48888,36484087,"Spacious Room w/ Private Rooftop, Central loca...",274321313,Kat,Manhattan,Hell's Kitchen,40.76392,-73.99183,Private room,125,4,0,NaN,NaN,1,31
48889,36484363,QUIT PRIVATE HOUSE,107716952,Michael,Queens,Jamaica,40.69137,-73.80844,Private room,65,1,0,NaN,NaN,2,163
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [45]:
def conand(dt):
    word = str(dt).lower()
    if word.__contains__(' and '):
        return True
    elif word.__contains__('&'):
        return True
    elif word.__contains__(' or '):
        return True
    else:
        return False

In [46]:
airdt['conAnd'] = airdt.host_name.apply(conand)

In [47]:
airdt[airdt.conAnd == True].loc[1:,['host_name', 'conAnd']]

                     host_name  conAnd
15               Allen & Irina    True
18            Adam And Charity    True
26             Claude & Sophie    True
30             Ssameer Or Trip    True
33             Ssameer Or Trip    True
50              JT And Tiziana    True
73             Tye And Etienne    True
79              DAVID And RICK    True
91              Sean & Lynette    True
100            Ssameer Or Trip    True
127         Fernando And Lenin    True
231           Ricardo & Ashlie    True
246               Colette&Sean    True
257             Dennis & Naoko    True
266              Kristian & Di    True
302             Mary And Geoff    True
315                      G & S    True
357            Liz And Melissa    True
362               Lee And Tara    True
433    Dee, Dre & Mama Shelley    True
435               Gladys & Bob    True
450             Lennny & Megan    True
452             JT And Tiziana    True
453             JT And Tiziana    True
481              Linda & Chris    True
485             Ali & SweetPea    True
510          Christian & Carla    True
514            Andrew & Markus    True
554               Zora & Chris    True
574             Keenan & Emily    True
...                        ...     ...
48031            Alex And Mila    True
48042          Megumi & Nathan    True
48128        Gabriel & Aquanna    True
48189          Chris And Jamie    True
48204         Charlotte & Brad    True
48292              Jim&Daniela    True
48316              Jim&Daniela    True
48338         Bridge & Samanta    True
48414                 Pi & Leo    True
48415                 Pi & Leo    True
48416                 Pi & Leo    True
48417                 Pi & Leo    True
48512          Pavel And Sarah    True
48608        David And Annette    True
48627              Lee & Luffy    True
48628              Lee & Luffy    True
48629              Lee & Luffy    True
48630              Lee & Luffy    True
48631              Lee & Luffy    True
48632              Lee & Luffy    True
48633              Lee & Luffy    True
48634              David & Amy    True
48744         Simon And Julian    True
48753          Joanne & Robert    True
48772            Brett & Megan    True
48774            Brad & Rachel    True
48808          Christine & Ben    True
48824            Rachel & Alex    True
48873           Clement & Rose    True
48892            Ilgar & Aysel    True

[1782 rows x 2 columns]

In [48]:
airdt['host_gender'] = airdt.conAnd.map({True:'GR',False:'0'})

In [49]:
airdt[airdt.conAnd == False].loc[1:,['host_name', 'conAnd', 'host_gender']]

         host_name  conAnd host_gender
1         Jennifer   False           0
2        Elisabeth   False           0
3      LisaRoxanne   False           0
4            Laura   False           0
5            Chris   False           0
6            Garon   False           0
7         Shunichi   False           0
8        MaryEllen   False           0
9              Ben   False           0
10            Lena   False           0
11            Kate   False           0
12          Laurie   False           0
13         Claudio   False           0
14           Alina   False           0
16            Jane   False           0
17            Doti   False           0
19            Sing   False           0
20           Chaya   False           0
21           Lisel   False           0
22           Lisel   False           0
23           Lisel   False           0
24        Nathalie   False           0
25         Gregory   False           0
27           Tommi   False           0
28            Shon   False           0
29            Dana   False           0
31            Teri   False           0
32          Andrea   False           0
34          Angela   False           0
35          Laurie   False           0
...            ...     ...         ...
48863       Stefan   False           0
48864        Sarah   False           0
48865       Brenda   False           0
48866      Alberth   False           0
48867        Diana   False           0
48868        Diana   False           0
48869        Julia   False           0
48870        Tanja   False           0
48871    Ozzy Ciao   False           0
48872          Ben   False           0
48874      Jeffrey   False           0
48875    Anastasia   False           0
48876       Joseph   False           0
48877      Melanie   False           0
48878  Jeerathinan   False           0
48879          Lee   False           0
48880        Melki   False           0
48881       Adrien   False           0
48882        Luisa   False           0
48883      Kendall   False           0
48884     Jonathan   False           0
48885      Kendall   False           0
48886        Scott   False           0
48887        Melki   False           0
48888          Kat   False           0
48889      Michael   False           0
48890      Sabrina   False           0
48891      Marisol   False           0
48893          Taz   False           0
48894   Christophe   False           0

[47112 rows x 3 columns]

In [50]:
def lastL(dt):
    name = str(dt)
    return name[-1]

In [51]:
airdt['host_lastL'] = airdt[airdt.conAnd == False].host_name.apply(lastL)

In [52]:
airdt[airdt.conAnd == False].loc[1:,['host_name', 'conAnd',  'host_lastL', 'host_gender']]

         host_name  conAnd host_lastL host_gender
1         Jennifer   False          r           0
2        Elisabeth   False          h           0
3      LisaRoxanne   False          e           0
4            Laura   False          a           0
5            Chris   False          s           0
6            Garon   False          n           0
7         Shunichi   False          i           0
8        MaryEllen   False          n           0
9              Ben   False          n           0
10            Lena   False          a           0
11            Kate   False          e           0
12          Laurie   False          e           0
13         Claudio   False          o           0
14           Alina   False          a           0
16            Jane   False          e           0
17            Doti   False          i           0
19            Sing   False          g           0
20           Chaya   False          a           0
21           Lisel   False          l           0
22           Lisel   False          l           0
23           Lisel   False          l           0
24        Nathalie   False          e           0
25         Gregory   False          y           0
27           Tommi   False          i           0
28            Shon   False          n           0
29            Dana   False          a           0
31            Teri   False          i           0
32          Andrea   False          a           0
34          Angela   False          a           0
35          Laurie   False          e           0
...            ...     ...        ...         ...
48863       Stefan   False          n           0
48864        Sarah   False          h           0
48865       Brenda   False          a           0
48866      Alberth   False          h           0
48867        Diana   False          a           0
48868        Diana   False          a           0
48869        Julia   False          a           0
48870        Tanja   False          a           0
48871    Ozzy Ciao   False          o           0
48872          Ben   False          n           0
48874      Jeffrey   False          y           0
48875    Anastasia   False          a           0
48876       Joseph   False          h           0
48877      Melanie   False          e           0
48878  Jeerathinan   False          n           0
48879          Lee   False          e           0
48880        Melki   False          i           0
48881       Adrien   False          n           0
48882        Luisa   False          a           0
48883      Kendall   False          l           0
48884     Jonathan   False          n           0
48885      Kendall   False          l           0
48886        Scott   False          t           0
48887        Melki   False          i           0
48888          Kat   False          t           0
48889      Michael   False          l           0
48890      Sabrina   False          a           0
48891      Marisol   False          l           0
48893          Taz   False          z           0
48894   Christophe   False          e           0

[47112 rows x 4 columns]

In [53]:

import codecs

nameList = airdt[airdt.conAnd == False].host_name.fillna('NaN')

fw = codecs.open(fileName + '.csv', 'w+', 'utf8')
print(nameList.to_csv(index = False))


def wListToCSV(fileName, colName, dataList):
    #Create or open file
    f= codecs.open(fileName + '.csv', 'w+', 'utf8')
    #write the column names to CSV
    f.write(str(colName) + ',\n')
    print('Column "' + colName + '" added to CSV')

    #writing data to file
    for i in dataList:
        try:
            f.write(i + ',\n')
        except:
            print('nowrite: ' + str(i))
            
    #Close the file
    #f.close()

wListToCSV('names2','Name',nameList)

NameError: name 'fileName' is not defined

In [54]:
airdt.fillna(0)
airdt.head()

fwa = codecs.open('AirbnbCompleteNew.csv', 'w+', 'utf8') 
fwa.write(airdt.to_csv(index=False))